<?xml version="1.0" encoding="utf-8" ?>

<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
         xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
         xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
         xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
         xmlns:iot="http://schemas.microsoft.com/appx/manifest/iot/windows10"
         xmlns:uap3="http://schemas.microsoft.com/appx/manifest/uap/windows10/3"
         IgnorableNamespaces="uap rescap iot uap3">

    <Identity Name="b261eb73-45dc-42ef-8345-b03f8624b754"
              Publisher="CN=NguyenThoHung"
              Version="1.0.0.0" />

    <Properties>
        <DisplayName>mediaplayer</DisplayName>
        <PublisherDisplayName>NguyenThoHung</PublisherDisplayName>
        <Logo>Assets\StoreLogo.png</Logo>
    </Properties>

	<Dependencies>
		<TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.17763.0" MaxVersionTested="10.1.0.0" />
		<TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.17763.0" MaxVersionTested="10.1.0.0" />
	</Dependencies>

	<Resources>
        <Resource Language="x-generate" />
    </Resources>

    <Applications>
        <Application Id="App"
                     Executable="$targetnametoken$.exe"
                     EntryPoint="$targetentrypoint$">
            <uap:VisualElements DisplayName="mediaplayer"
                                Description="mediaplayer"
                                BackgroundColor="transparent"
                                Square150x150Logo="Assets\Square150x150Logo.png"
                                Square44x44Logo="Assets\Square44x44Logo.png">
                <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png" />
                <uap:SplashScreen Image="Assets\SplashScreen.png" />
            </uap:VisualElements>
        </Application>
    </Applications>

    <Capabilities>
        <rescap:Capability Name="runFullTrust" />
        <Capability Name="internetClient" />
        <uap:Capability Name="musicLibrary" />
        <uap:Capability Name="videosLibrary" />
        <uap:Capability Name="picturesLibrary" />
        <Capability Name="internetClientServer" />
        <Capability Name="privateNetworkClientServer" />
        <DeviceCapability Name="webcam" />
    </Capabilities>
</Package>
